ion-content{
    --ion-background-color:#c1c4ea;
}


ion-toolbar{
    background-color: transparent;
    opacity: 0;
}

ion-card-title{
    text-align: center;
}

ion-card-subtitle{
    text-align: center;
}

ion-card{
    box-shadow: none;
}

.sing-btn-wrap{
    text-align: center;
    padding-top: 30px;
}