*{
    font-family: lato;
}

.menu-header-bg{
    height: 180px;
    width: 350px;
    background: #7590d6;
    background: linear-gradient(90deg, #7590d6 0%, #4d71d7 100%);
    box-shadow: 0px 1px 10px rgba(98, 114, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid #5e7ccc;
    }

    h2{
        font-weight: 300;

    }
}

.action-button{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

ion-button {
    --background:#c1c4ea; /* Fondo transparente */
    --border-width: 1px;       /* Grosor del borde */
    --border-color: black;     /* Color del borde */
    --color: black;            /* Color del texto */
    --border-radius: 5px;      /* Redondeo de las esquinas (opcional) */
    width: 100%;               /* Ancho completo para cada botón */
    text-align: left;          /* Alineación del texto a la izquierda */
  }  

