<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Foro Estudio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Materias</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div >
      <ion-button [routerLink]="['/home']" >Home</ion-button>
      <ion-button [routerLink]="['/materias']" >Materias</ion-button>
      <ion-button [routerLink]="['/foro']" >Foros</ion-button>
      <ion-button [routerLink]="['/perfil']" >Perfil</ion-button>
      <ion-button [routerLink]="['/loginscreen']" >cerrar cesion</ion-button>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content id="main-content">
  
</ion-content>
