<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Foro Estudio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Mernu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Home</ion-item>
      <ion-item routerLink="/materias">Materias</ion-item>
      <ion-item routerLink="/perfil">Perfil</ion-item>
      <ion-item routerLink="/loginscreen">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Discusión: ¿Cuáles son las mejores técnicas de estudio para exámenes?</ion-card-title>
            <ion-card-subtitle>Publicado por Juan Pérez, hace 2 horas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Comparte tus mejores consejos para preparar exámenes finales. ¿Qué técnicas de estudio han demostrado ser más efectivas para ti?
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Debate: ¿Es mejor estudiar en grupo o solo?</ion-card-title>
            <ion-card-subtitle>Publicado por Ana Gómez, hace 1 día</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Algunos dicen que estudiar en grupo ayuda a entender mejor los temas, mientras que otros prefieren concentrarse solos. ¿Cuál es tu opinión?
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Consejos para manejar el estrés académico</ion-card-title>
            <ion-card-subtitle>Publicado por Carlos Ramírez, hace 3 días</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Estar en la universidad puede ser estresante. ¿Cómo manejas la presión y el estrés durante los semestres más difíciles?
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
