ion-content{
    --ion-background-color:#c1c4ea;
}

  ion-button {
    --background: transparent; /* Fondo transparente */
    --border-width: 1px;       /* Grosor del borde */
    --border-color: black;     /* Color del borde */
    --color: black;            /* Color del texto */
    --border-radius: 5px;      /* Redondeo de las esquinas (opcional) */
    width: 100%;               /* Ancho completo para cada botón */
    text-align: left;          /* Alineación del texto a la izquierda */
  }  



.subtitle {
  text-align: center;
  font-size: 14px;
  color: #0d0c0c;
  margin-top: 30px;
}
